.dropdown-button {
    padding: .4rem .5rem;
    border-radius: .3rem;
    cursor: pointer;

    &:hover {
        background-color: var(--background-primary-color);
        color: var(--text-color-dark);
    }

    &--active {
        background-color: var(--background-primary-color);
        color: var(--text-color-dark);
    }
    
    &__icon {
    
    }
}

.dropdown-menu-item {

    &__content {
        display: flex;
        align-items: center;
        column-gap: .5rem;
        padding: .4rem .8rem;
        font-size: var(--font-size-6);
        cursor: pointer;

        &:hover {
            background-color: var(--background-secondary-color);
        }
    }

    &__logo {
        height: 100%;
        aspect-ratio: 1 / 1;
    }

    &__icon {

    }

    &__title {

    }
}