.task-form {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    display: grid;
    align-items: center;
    grid-template-columns: min-content auto min-content;
    column-gap: .5rem;
    background-color: rgb(255, 255, 255);
    border-radius: .3rem;
    overflow: hidden;

    &__add {
        padding: .6rem;
        font-size: var(--font-size-5);

        &-icon {

        }
    }

    &__input {
        height: 100%;
        padding: .6rem 0;
    }

    &__options {
        display: flex;
        font-size: var(--font-size-4);
    }

}

.task-form-option {
    position: relative;
    cursor: pointer;

    &:hover {
        background-color: rgb(245, 247, 253);
    }

    &__button {
        padding: .6rem;
    }

    &__icon {

    }

    &__content {
        
    }
}