.task-details {
    width: 450px;
    height: 100vh;
    display: grid;
    grid-template-rows: auto min-content;
    row-gap: .5rem;
    position: relative;
    background-color: rgb(237, 241, 255);

    &__content {
        margin-top: 3rem;
        padding: .4rem .8rem;
        display: flex;
        flex-direction: column;
        row-gap: .7rem;
        overflow-y: auto;
    }

    &__box {
        background-color: rgb(255, 255, 255);
        border-radius: .3rem;
    }

    &__row {
        display: flex;
        align-items: center;
        height: 40px;
        padding: .2rem;
    }

    &__logo {
        width: 30px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-4);
        background-color: transparent;
    }

    &__input {
        width: 20px;
        height: 20px;
        display: block;
        position: relative;
        justify-self: center;

        &:hover .task-details__input-checkmark {
            border: 2px solid var(--primary-color);
        }

        &-checkbox {
            width: 0;
            height: 0;
            position: absolute;
            opacity: 0;
            cursor: pointer;

            &:checked ~ .task-details__input-checkmark {
                background-color: rgb(116, 141, 187);
            }

            &:checked ~ .task-details__input-checkmark::after {
                display: block;
            }
        }

        &-checkmark {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: transparent;
            border: 2px solid rgb(159, 160, 162);
            cursor: pointer;
            transition: .3s ease-out;

            &::after {
                content: '';
                position: absolute;
                display: none;
                top: 2px;
                left: 5px;
                width: 3px;
                height: 7px;
                border: solid rgb(255, 255, 255);
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
            }
        }
    }

    &__value {
        flex: 1;
        padding: 0 .2rem;
        font-size: var(--font-size-6);
    }

    &__title {
        width: 100%;
        flex-wrap: wrap;
        font-size: var(--font-size-5);
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        // cursor: pointer;
    }

    &__remind {
        width: 100%;
        font-size: var(--font-size-5);
    }

    &__date {
        width: 100%;
        font-size: var(--font-size-5);
    }

    &__repeat {
        width: 100%;
        padding: .5rem .2rem;
        border: none;
        outline: none;
        border-radius: .1rem;
        appearance: none;
        font-size: var(--font-size-6);
        cursor: pointer;
    }

    &__description {
        width: 100%;
        padding: .7rem;
    }

    &__footer {
        display: flex;
        align-items: center;
        height: 35px;
        padding: .5rem;
    }

    &__information {
        flex: 1;
        text-align: center;
        color: var(--text-tertiary-color);
    }
}

.task-details-close {
    position: absolute;
    top: 10px;
    right: 13px;
    width: 30px;
    height: 30px;
    padding: .3rem;
    display: flex;
    justify-content: center;
    font-size: var(--font-size-4);
    cursor: pointer;
    border-radius: .3rem;

    &:hover {
        background-color: var(--background-secondary-color);
    }

    &:hover .task-details-close__icon {
        transform: rotate(90deg);
    }

    &__icon {
        transition: .3s ease-out;
    }
}

.task-details-delete {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-5);
    color: var(--text-tertiary-color);
    cursor: pointer;

    &:hover {
        color: rgb(255, 65, 65);
    }

    &__icon {

    }
}

.task-details-checkbox {
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    justify-self: center;

    &:hover .task-details-checkbox__checkmark {
        border: 2px solid var(--primary-color);
    }

    &__input {
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:checked ~ .task-details-checkbox__checkmark {
            background-color: rgb(116, 141, 187);
        }

        &:checked ~ .task-details-checkbox__checkmark::after {
            display: block;
        }
    }

    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid rgb(159, 160, 162);
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            display: none;
            top: 2px;
            left: 5px;
            width: 3px;
            height: 7px;
            border: solid rgb(255, 255, 255);
            border-width: 0 3px 0 3px;
            transform: rotate(45deg);
        }
    }
}

.task-details-favorite {
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-5);
    background-color: transparent;
    cursor: pointer;

    // &:hover {
    //     color: var(--primary-color);
    // }

    &__icon {

    }
}