.category-item {
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
    border-radius: .3rem;
    cursor: pointer;

    &:hover {
        background-color: var(--background-secondary-color);
    }

    &--selected {
        background-color: var(--background-secondary-color);
        position: relative;

        &::before {
            content: '';
            background-color: var(--primary-color);
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 50%;
            width: 3px;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: auto min-content;
        padding: .4rem .8rem;
        align-items: center;
        color: var(--text-color-dark);
    }
    
    &__title {
        display: flex;
        align-items: center;
        column-gap: .5rem;
        font-size: var(--font-size-6);
        font-weight: var(--font-weight-normal)
    }
    
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15px;
    }
    
    &__counter {
        font-size: var(--font-size-7);
    }
}