/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@400;500;600;700&display=swap');

/* GLOBAL VARIABLES */
:root {
  /* FONTS */
  --font-family: 'Poppins', sans-serif;
  --font-size-1: 2.5rem;
  --font-size-2: 2rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1rem;
  --font-size-6: .9rem;
  --font-size-7: .785rem;
  --font-size-8: .725rem;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* COLORS */
  --primary-color: rgb(146, 168, 209);
  --secondary-color: rgb(255, 165, 0);
  --background-primary-color: rgb(237, 241, 255);
  --background-secondary-color: rgb(227, 231, 245);
  --border-primary-color: '';
  --text-primary-color: rgb(0, 0, 0);
  --text-secondary-color: '';
  --text-tertiary-color: rgb(159, 160, 162);
  --text-color-light: rgb(255, 255, 255);
  --text-color-dark: rgb(0, 0, 0);
  // --heading-color: '';
  --shadow-primary-color: rgb(159, 160, 162);
  --shadow-secondary-color: '';
  --scrollbar-foreground-color: rgb(105, 105, 105);
  --scrollbar-background-color: rgb(159, 160, 162);
}

/* GENERAL STYLES & RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-primary-color);
  color: var(--text-color-dark);
}

body,
button,
input,
textarea {
  font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-semibold);
  color: var(--heading-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

input, 
textarea {
  border: none;
  outline: none;
}

/* COMMON CSS CLASSES */


/* SCROLLBAR */
::-webkit-scrollbar {
  width: .8rem;
  background-color: transparent;

  &-thumb {
    border-radius: .4rem;
    background-color: rgb(195, 195, 195);
    border: .15rem solid transparent;
    background-clip: padding-box; 
  }
}

.todo-app {
  display: flex;
}
